<a href="https://colab.research.google.com/github/dhivyasreedhar/Movie-Recommendation-System/blob/main/maindata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

In [10]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [11]:
tables = soup.find_all('table',class_='wikitable sortable')

In [12]:
len(tables)

4

In [13]:
type(tables[0])

bs4.element.Tag

In [14]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [15]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [16]:
df

      Opening  ...   Ref.
0     JANUARY  ...    NaN
1     JANUARY  ...    NaN
2     JANUARY  ...    NaN
3     JANUARY  ...    NaN
4     JANUARY  ...    NaN
..        ...  ...    ...
267  DECEMBER  ...  [240]
268  DECEMBER  ...  [241]
269  DECEMBER  ...  [242]
270  DECEMBER  ...  [243]
271  DECEMBER  ...  [244]

[272 rows x 7 columns]

In [17]:
df_2020 = df[['Title','Cast and crew']]

In [18]:
df_2020

                     Title                                      Cast and crew
0               The Grudge  Nicolas Pesce (director/screenplay); Andrea Ri...
1               Underwater  William Eubank (director); Brian Duffield, Ada...
2              Like a Boss  Miguel Arteta (director); Sam Pitman, Adam Col...
3            Three Christs  Jon Avnet (director/screenplay); Eric Nazarian...
4        Inherit the Viper  Anthony Jerjen (director); Andrew Crabtree (sc...
..                     ...                                                ...
267       We Can Be Heroes  Robert Rodriguez (director/screenplay); Priyan...
268      News of the World  Paul Greengrass (director/screenplay); Luke Da...
269  One Night in Miami...  Regina King (director); Kemp Powers (screenpla...
270  Promising Young Woman  Emerald Fennell (director/screenplay); Carey M...
271      Pieces of a Woman  Kornél Mundruczó (director); Kata Wéber (scree...

[272 rows x 2 columns]

In [19]:
!pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.6-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.5.30)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.6

In [20]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'b9227b3a56d4b82b29df98e483c97e12'

In [22]:
from tmdbv3api import Movie
tmdb_movie = Movie() 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result:
      return np.NaN
    else:
      movie_id = result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          return np.NaN

In [23]:
df_2020['genres'] = df_2020['Title'].map(lambda x: get_genre(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
df_2020

                     Title  ...                                  genres
0               The Grudge  ...                 Horror Mystery Thriller
1               Underwater  ...  Action Horror Science Fiction Thriller
2              Like a Boss  ...                                  Comedy
3            Three Christs  ...                                   Drama
4        Inherit the Viper  ...                    Crime Thriller Drama
..                     ...  ...                                     ...
267       We Can Be Heroes  ...            Action Fantasy Family Comedy
268      News of the World  ...          Action Adventure Drama Western
269  One Night in Miami...  ...                                   Drama
270  Promising Young Woman  ...                    Thriller Crime Drama
271      Pieces of a Woman  ...                                   Drama

[272 rows x 3 columns]

In [25]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [26]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [28]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [31]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [33]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [34]:
df_2020

                     Title  ...     actor_3_name
0               The Grudge  ...         John Cho
1               Underwater  ...  Jessica Henwick
2              Like a Boss  ...      Salma Hayek
3            Three Christs  ...   Walton Goggins
4        Inherit the Viper  ...   Chandler Riggs
..                     ...  ...              ...
267       We Can Be Heroes  ...    YaYa Gosselin
268      News of the World  ...              NaN
269  One Night in Miami...  ...      Aldis Hodge
270  Promising Young Woman  ...      Alison Brie
271      Pieces of a Woman  ...     Molly Parker

[272 rows x 7 columns]

In [35]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [36]:
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [37]:
new_df20

        director_name  ...            movie_title
0       Nicolas Pesce  ...             The Grudge
1      William Eubank  ...             Underwater
2       Miguel Arteta  ...            Like a Boss
3           Jon Avnet  ...          Three Christs
4      Anthony Jerjen  ...      Inherit the Viper
..                ...  ...                    ...
267  Robert Rodriguez  ...       We Can Be Heroes
268   Paul Greengrass  ...      News of the World
269       Regina King  ...  One Night in Miami...
270   Emerald Fennell  ...  Promising Young Woman
271  Kornél Mundruczó  ...      Pieces of a Woman

[272 rows x 6 columns]

In [38]:
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']

In [39]:
new_df20.isna().sum()

director_name     0
actor_1_name      0
actor_2_name      4
actor_3_name     27
genres            1
movie_title       0
comb             28
dtype: int64

In [40]:
new_df20 = new_df20.dropna(how='any')

In [41]:
new_df20.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [42]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
new_df20

        director_name  ...                                               comb
0       Nicolas Pesce  ...  Andrea Riseborough Demián Bichir John Cho Nico...
1      William Eubank  ...  Kristen Stewart Vincent Cassel Jessica Henwick...
2       Miguel Arteta  ...  Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3           Jon Avnet  ...  Richard Gere Peter Dinklage Walton Goggins Jon...
4      Anthony Jerjen  ...  Josh Hartnett Margarita Levieva Chandler Riggs...
..                ...  ...                                                ...
266       Pete Docter  ...  Jamie Foxx Tina Fey Graham Norton Pete Docter ...
267  Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
269       Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
270   Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
271  Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[244 rows x 7 columns]

In [44]:
old_df = pd.read_csv('/content/final_data.csv')

In [45]:
old_df

               director_name  ...                                               comb
0              James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1             Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                 Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3          Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4                Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                      ...  ...                                                ...
5433  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
5434            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
5435              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
5436   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
5437         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[5438 rows x 7 columns]

In [46]:
final_df = old_df.append(new_df20,ignore_index=True)

In [47]:
final_df

          director_name  ...                                               comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4           Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                 ...  ...                                                ...
5677        Pete Docter  ...  Jamie Foxx Tina Fey Graham Norton Pete Docter ...
5678   Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
5679        Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
5680    Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
5681   Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[5682 rows x 7 columns]

In [48]:
final_df.to_csv('main_data.csv',index=False)