<a href="https://colab.research.google.com/github/dhivyasreedhar/Movie-Recommendation-System/blob/main/newdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [21]:
credits = pd.read_csv('/content/credits.csv',engine='python', encoding='utf-8', error_bad_lines=False)

Skipping line 33583: unexpected end of data

In [22]:
credits

                                                    cast  ...      id
0      [{'cast_id': 14, 'character': 'Woody (voice)',...  ...     862
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...    8844
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...   15602
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...   31357
4      [{'cast_id': 1, 'character': 'George Banks', '...  ...   11862
...                                                  ...  ...     ...
33576  [{'cast_id': 2, 'character': 'Elmer Kane', 'cr...  ...  111460
33577  [{'cast_id': 0, 'character': 'Adolf Hitler', '...  ...  318917
33578  [{'cast_id': 2, 'character': '', 'credit_id': ...  ...  237303
33579  [{'cast_id': 1017, 'character': 'Shaman', 'cre...  ...   79580
33580  [{'cast_id': 10, 'character': 'Frederica Morga...  ...   30933

[33581 rows x 3 columns]

In [26]:
meta = pd.read_csv('/content/movies_metadata.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
meta['release_date'] = pd.to_datetime(meta['release_date'], errors='coerce')

In [28]:
meta['year'] = meta['release_date'].dt.year

In [29]:
meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [30]:
# Getting only 2017 movies as we already have movies up to the year 2016 in preprocessing 1 file. 
# We don't have enough data for the movies from 2018, 2019 and 2020. 
# We'll deal with it in the upcoming preprocessing files
new_meta = meta.loc[meta.year == 2017,['genres','id','title','year']]

In [31]:
new_meta

                                                  genres  ...    year
26560  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...  ...  2017.0
26561  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
26565  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
26566  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
30536  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...  ...  2017.0
...                                                  ...  ...     ...
45398  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  ...  2017.0
45417  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...  ...  2017.0
45437  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...  ...  2017.0
45453  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...  ...  2017.0
45465                                                 []  ...  2017.0

[532 rows x 4 columns]

In [32]:
new_meta['id'] = new_meta['id'].astype(int)

In [33]:
data = pd.merge(new_meta, credits, on='id')

In [34]:
pd.set_option('display.max_colwidth', 75)
data

                                                                        genres  ...                                                                        crew
0   [{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...  ...  [{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ...
1   [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...  ...  [{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ...
2   [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...  ...  [{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge...
3   [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...  ...  [{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend...
4   [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...  ...  [{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '...
5            [{'id': 53, 'name': 'Thriller'}, {'id': 12, 'name': 'Adventure'}]  ...  [{'credit_id': '53b4a061c3a3685eb7000232', 'department': 'Directing', '...
6                  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name': 'Comedy'}]  ...  [{'credit_id': '54efa9bb9251417968006b3b', 'department': 'Directing', '...
7   [{'id': 28, 'name': 'Action'}, {'id': 14, 'name': 'Fantasy'}, {'id': 87...  ...  [{'credit_id': '5707c405925141708d0000ef', 'department': 'Directing', '...
8                                               [{'id': 35, 'name': 'Comedy'}]  ...  [{'credit_id': '5558894dc3a3687772008e31', 'department': 'Art', 'gender...
9   [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...  ...  [{'credit_id': '56a93fca9251417dcb001e9f', 'department': 'Writing', 'ge...
10  [{'id': 16, 'name': 'Animation'}, {'id': 12, 'name': 'Adventure'}, {'id...  ...  [{'credit_id': '53f7f9b1c3a368735e000607', 'department': 'Directing', '...
11  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 87...  ...  [{'credit_id': '55528cd792514114c8000722', 'department': 'Directing', '...
12                                              [{'id': 35, 'name': 'Comedy'}]  ...  [{'credit_id': '5847033992514166ba023648', 'department': 'Directing', '...

[13 rows x 6 columns]

In [35]:
# evaluates an expression node or a string containing a Python literal or container display
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [36]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [37]:
data['genres_list'] = data['genres'].map(lambda x: make_genresList(x))

In [38]:
data['genres_list']

0              Adventure Action Fantasy Comedy
1              Action Adventure Fantasy Sci-Fi
2              Action Adventure Fantasy Sci-Fi
3               Action Adventure Comedy Sci-Fi
4                     Fantasy Action Adventure
5                           Thriller Adventure
6                                 Drama Comedy
7                        Action Fantasy Sci-Fi
8                                       Comedy
9                     Action Adventure Fantasy
10    Animation Adventure Comedy Action Family
11                       Drama Thriller Sci-Fi
12                                      Comedy
Name: genres_list, dtype: object

In [39]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [40]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [41]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [42]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [43]:
data['actor_2_name']

0         Javier Bardem
1          Henry Cavill
2        Tom Hiddleston
3           Zoe Saldana
4          William Hurt
5             Sarah Mac
6       Melanie Chandra
7       Sanzhar Madiyev
8             Eden Sher
9            Chris Pine
10    Ian James Corlett
11            Tom Hanks
12         Rebel Wilson
Name: actor_2_name, dtype: object

In [44]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [45]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [46]:
data['actor_3_name']

0       Geoffrey Rush
1           Gal Gadot
2      Cate Blanchett
3       Dave Bautista
4     Benjamin Walker
5         Neil Newbon
6          Omi Vaidya
7     Sebastien Sisak
8     Ashley Rickards
9        Robin Wright
10         Matt Olsen
11        John Boyega
12      Brittany Snow
Name: actor_3_name, dtype: object

In [47]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [48]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [49]:
data['director_name']

0     Joachim RÃ¸nning Espen Sandberg
1                        Zack Snyder
2                      Taika Waititi
3                         James Gunn
4                      Sean McNamara
5                        Adam Spinks
6                  Rucha Humnabadkar
7                   Sarik Andreasyan
8                    Peter Hutchings
9                      Patty Jenkins
10                      Kevin Munroe
11                    James Ponsoldt
12                         Trish Sie
Name: director_name, dtype: object

In [50]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]

In [51]:
movie

                     director_name  ...                                             title
0   Joachim RÃ¸nning Espen Sandberg  ...  Pirates of the Caribbean: Dead Men Tell No Tales
1                      Zack Snyder  ...                                    Justice League
2                    Taika Waititi  ...                                    Thor: Ragnarok
3                       James Gunn  ...                    Guardians of the Galaxy Vol. 2
4                    Sean McNamara  ...                               The King's Daughter
5                      Adam Spinks  ...                    Extinction: Nature Has Evolved
6                Rucha Humnabadkar  ...                                For Here or to Go?
7                 Sarik Andreasyan  ...                                         Guardians
8                  Peter Hutchings  ...                                      The Outcasts
9                    Patty Jenkins  ...                                      Wonder Woman
10                    Kevin Munroe  ...                                        Sly Cooper
11                  James Ponsoldt  ...                                        The Circle
12                       Trish Sie  ...                                   Pitch Perfect 3

[13 rows x 6 columns]

In [52]:
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
title            0
dtype: int64

In [53]:
movie = movie.dropna(how='any')

In [54]:
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
title            0
dtype: int64

In [55]:
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

In [56]:
movie['movie_title'] = movie['movie_title'].str.lower()

In [57]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']

In [58]:
movie

                     director_name  ...                                                                        comb
0   Joachim RÃ¸nning Espen Sandberg  ...  Johnny Depp Javier Bardem Geoffrey Rush Joachim RÃ¸nning Espen Sandberg ...
1                      Zack Snyder  ...  Ben Affleck Henry Cavill Gal Gadot Zack Snyder Action Adventure Fantasy...
2                    Taika Waititi  ...  Chris Hemsworth Tom Hiddleston Cate Blanchett Taika Waititi Action Adve...
3                       James Gunn  ...  Chris Pratt Zoe Saldana Dave Bautista James Gunn Action Adventure Comed...
4                    Sean McNamara  ...  Pierce Brosnan William Hurt Benjamin Walker Sean McNamara Fantasy Actio...
5                      Adam Spinks  ...        Ben Loyd-Holmes Sarah Mac Neil Newbon Adam Spinks Thriller Adventure
6                Rucha Humnabadkar  ...         Ali Fazal Melanie Chandra Omi Vaidya Rucha Humnabadkar Drama Comedy
7                 Sarik Andreasyan  ...  Anton Pampushnyy Sanzhar Madiyev Sebastien Sisak Sarik Andreasyan Actio...
8                  Peter Hutchings  ...           Victoria Justice Eden Sher Ashley Rickards Peter Hutchings Comedy
9                    Patty Jenkins  ...    Gal Gadot Chris Pine Robin Wright Patty Jenkins Action Adventure Fantasy
10                    Kevin Munroe  ...  Chris Murphy Ian James Corlett Matt Olsen Kevin Munroe Animation Advent...
11                  James Ponsoldt  ...      Emma Watson Tom Hanks John Boyega James Ponsoldt Drama Thriller Sci-Fi
12                       Trish Sie  ...                   Anna Kendrick Rebel Wilson Brittany Snow Trish Sie Comedy

[13 rows x 7 columns]

In [59]:
old = pd.read_csv('/content/data.csv')

In [60]:
old['comb'] = old['actor_1_name'] + ' ' + old['actor_2_name'] + ' '+ old['actor_3_name'] + ' '+ old['director_name'] +' ' + old['genres']

In [61]:
old

          director_name  ...                                                                        comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4           Doug Walker  ...                      Doug Walker Rob Walker unknown Doug Walker Documentary
...                 ...  ...                                                                         ...
5038        Scott Smith  ...             Eric Mabius Daphne Zuniga Crystal Lowe Scott Smith Comedy Drama
5039            unknown  ...  Natalie Zea Valorie Curry Sam Underwood unknown Crime Drama Mystery Thr...
5040   Benjamin Roberds  ...  Eva Boehnke Maxwell Moody David Chandler Benjamin Roberds Drama Horror ...
5041        Daniel Hsia  ...        Alan Ruck Daniel Henney Eliza Coupe Daniel Hsia Comedy Drama Romance
5042           Jon Gunn  ...                  John August Brian Herzlinger Jon Gunn Jon Gunn Documentary

[5043 rows x 7 columns]

In [62]:
new = old.append(movie)

In [63]:
new

        director_name  ...                                                                        comb
0       James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1      Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2          Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3   Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4         Doug Walker  ...                      Doug Walker Rob Walker unknown Doug Walker Documentary
..                ...  ...                                                                         ...
8     Peter Hutchings  ...           Victoria Justice Eden Sher Ashley Rickards Peter Hutchings Comedy
9       Patty Jenkins  ...    Gal Gadot Chris Pine Robin Wright Patty Jenkins Action Adventure Fantasy
10       Kevin Munroe  ...  Chris Murphy Ian James Corlett Matt Olsen Kevin Munroe Animation Advent...
11     James Ponsoldt  ...      Emma Watson Tom Hanks John Boyega James Ponsoldt Drama Thriller Sci-Fi
12          Trish Sie  ...                   Anna Kendrick Rebel Wilson Brittany Snow Trish Sie Comedy

[5056 rows x 7 columns]

In [64]:
new.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [65]:
new

        director_name  ...                                                                        comb
0       James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1      Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2          Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3   Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4         Doug Walker  ...                      Doug Walker Rob Walker unknown Doug Walker Documentary
..                ...  ...                                                                         ...
8     Peter Hutchings  ...           Victoria Justice Eden Sher Ashley Rickards Peter Hutchings Comedy
9       Patty Jenkins  ...    Gal Gadot Chris Pine Robin Wright Patty Jenkins Action Adventure Fantasy
10       Kevin Munroe  ...  Chris Murphy Ian James Corlett Matt Olsen Kevin Munroe Animation Advent...
11     James Ponsoldt  ...      Emma Watson Tom Hanks John Boyega James Ponsoldt Drama Thriller Sci-Fi
12          Trish Sie  ...                   Anna Kendrick Rebel Wilson Brittany Snow Trish Sie Comedy

[4929 rows x 7 columns]

In [66]:
new.to_csv('new_data.csv',index=False)